<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>성공회대학교</title>
      <% include ../common/css.ejs %>
      <link href="/res/assets/css/admin.css" rel="stylesheet">

    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
              <% include ../common/nav.ejs %>



                    <!-- page content -->
<div class="right_col" role="main">
<div class="container">
<div class="row">
  <div class="col-sm-3">
      <a href="mail-compose.html" class="btn btn-danger btn-block btn-compose-email">Compose Email</a>
      <ul class="nav nav-pills nav-stacked nav-email shadow mb-20">
          <li class="active">
              <a href="#mail-inbox.html">
                  <i class="fa fa-inbox"></i> Inbox  <span class="label pull-right">7</span>
              </a>
          </li>
          <li>
              <a href="#mail-compose.html"><i class="fa fa-envelope-o"></i> Send Mail</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-certificate"></i> Important</a>
          </li>
          <li>
              <a href="#">
                  <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification">35</span>
              </a>
          </li>
          <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
      </ul><!-- /.nav -->

      <h5 class="nav-email-subtitle">More</h5>
      <ul class="nav nav-pills nav-stacked nav-email mb-20 rounded shadow">
          <li>
              <a href="#">
                  <i class="fa fa-folder-open"></i> Promotions  <span class="label label-danger pull-right">3</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fa fa-folder-open"></i> Job list
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fa fa-folder-open"></i> Backup
              </a>
          </li>
      </ul><!-- /.nav -->
  </div>
  <div class="col-sm-9">
      <div class="panel rounded shadow panel-teal">
          <div class="panel-heading">
              <div class="pull-left">
                  <h3 class="panel-title">Inbox (7)</h3>
              </div>
              <div class="pull-right">
                  <form action="#" class="form-horizontal mr-5 mt-3">
                      <div class="form-group no-margin no-padding has-feedback">
                          <input type="text" class="form-control no-border" placeholder="Search mail">
                          <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                      </div>
                  </form>
              </div>
              <div class="clearfix"></div>
          </div><!-- /.panel-heading -->
          <div class="panel-sub-heading inner-all">
              <div class="pull-left">
                  <ul class="list-inline no-margin">
                      <li>
                          <div class="ckbox ckbox-theme">
                              <input id="checkbox-group" type="checkbox" class="mail-group-checkbox">
                              <label for="checkbox-group"></label>
                          </div>
                      </li>
                      <li>
                          <div class="btn-group">
                              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                  All <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">None</a></li>
                                  <li><a href="#">Read</a></li>
                                  <li><a href="#">Unread</a></li>
                              </ul>
                          </div>
                      </li>
                      <li>
                          <div class="btn-group">
                              <button class="btn btn-default btn-sm tooltips" type="button" data-toggle="tooltip" data-container="body" title="" data-original-title="Archive"><i class="fa fa-inbox"></i></button>
                              <button class="btn btn-default btn-sm tooltips" type="button" data-toggle="tooltip" data-container="body" title="" data-original-title="Report Spam"><i class="fa fa-warning"></i></button>
                              <button class="btn btn-default btn-sm tooltips" type="button" data-toggle="tooltip" data-container="body" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                          </div>
                      </li>
                      <li class="hidden-xs">
                          <div class="btn-group">
                              <button type="button" class="btn btn-default btn-sm">More</button>
                              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li><a href="#"><i class="fa fa-edit"></i> Mark as read</a></li>
                                  <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="pull-right">
                  <ul class="list-inline no-margin">
                      <li class="hidden-xs"><span class="text-muted">Showing 1-50 of 2,051 messages</span></li>
                      <li>
                          <div class="btn-group">
                              <a href="#" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i></a>
                              <a href="#" class="btn btn-sm btn-default"><i class="fa fa-angle-right"></i></a>
                          </div>
                      </li>
                      <li class="hidden-xs">
                          <div class="btn-group">
                              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                  <i class="fa fa-cog"></i> <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu pull-right" role="menu">
                                  <li class="dropdown-header">Display density :</li>
                                  <li class="active"><a href="#">Comfortable</a></li>
                                  <li><a href="#">Cozy</a></li>
                                  <li><a href="#">Compact</a></li>
                                  <li class="dropdown-header">Configure inbox</li>
                                  <li><a href="#">Settings</a></li>
                                  <li><a href="#">Themes</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Help</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="clearfix"></div>
          </div><!-- /.panel-sub-heading -->
          <div class="panel-body no-padding">

              <div class="table-responsive">
                  <table class="table table-hover table-email">
                      <tbody>
                      <tr class="unread selected">
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox1" type="checkbox" checked="checked" class="mail-checkbox">
                                  <label for="checkbox1"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star star-checked"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar1.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">John Kribo</h4>
                                      <p class="email-summary"><strong>Commits pushed</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit... <span class="label label-success">New</span> </p>
                                      <span class="media-meta">Today at 6:16am</span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox2" type="checkbox" class="mail-checkbox">
                                  <label for="checkbox2"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar2.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Jennifer Poiyem</h4>
                                      <p class="email-summary"><strong>Send you gift</strong> Sed do eiusmod tempor incididunt...<span class="label label-success">New</span> </p>
                                      <span class="media-meta">Today at 1:13am</span>
                                      <span class="media-attach"><i class="fa fa-paperclip"></i></span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr class="unread">
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox3" type="checkbox" checked="checked" class="mail-checkbox">
                                  <label for="checkbox3"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star star-checked"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar3.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Clara Wati</h4>
                                      <p class="email-summary"><strong>Follow you</strong> Ut enim ad minim veniam, quis nostrud exercitation... </p>
                                      <span class="media-meta">Jul 02</span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox4" type="checkbox" class="mail-checkbox">
                                  <label for="checkbox4"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar4.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Toni Mriang</h4>
                                      <p class="email-summary"><strong>Check out new template</strong> Laboris nisi ut aliquip ex ea commodo consequat... <span class="label label-warning">Urgent</span></p>
                                      <span class="media-meta">Jul 02</span>
                                      <span class="media-attach"><i class="fa fa-paperclip"></i><i class="fa fa-share"></i></span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr class="selected">
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox5" type="checkbox" checked="checked" class="mail-checkbox">
                                  <label for="checkbox5"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star star-checked"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar5.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Bella negoro</h4>
                                      <p class="email-summary"><strong>Monthly sales report</strong> Excepteur sint occaecat cupidatat non proident... </p>
                                      <span class="media-meta">Jul 02</span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr class="unread">
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox6" type="checkbox" class="mail-checkbox">
                                  <label for="checkbox6"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar6.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Kim Mbako</h4>
                                      <p class="email-summary"><strong>1 New job</strong> Sed ut perspiciatis unde omnis iste natus error sit voluptatem... <span class="label label-danger">Promotion</span></p>
                                      <span class="media-meta">Jul 01</span>
                                      <span class="media-attach"><i class="fa fa-paperclip"></i></span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox7" type="checkbox" class="mail-checkbox">
                                  <label for="checkbox7"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar6.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Pack Suparman</h4>
                                      <p class="email-summary"><strong>You sold a item!</strong> Ut enim ad minim veniam, quis nostrud exercitation... </p>
                                      <span class="media-meta">Jul 01</span>
                                      <span class="media-attach"><i class="fa fa-users"></i></span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox8" type="checkbox" class="mail-checkbox">
                                  <label for="checkbox8"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar6.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Jeddy Mentri</h4>
                                      <p class="email-summary"><strong>IOS Developer</strong> Ut enim ad minim veniam, quis nostrud exercitation... </p>
                                      <span class="media-meta">Jun 25</span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox9" type="checkbox" class="mail-checkbox">
                                  <label for="checkbox9"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar1.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Daddy Botak</h4>
                                      <p class="email-summary"><strong>User interface Status</strong> Ut enim ad minim veniam, quis nostrud exercitation... </p>
                                      <span class="media-meta">Jun 23</span>
                                      <span class="media-attach"><i class="fa fa-paperclip"></i></span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr class="unread">
                          <td>
                              <div class="ckbox ckbox-theme">
                                  <input id="checkbox10" type="checkbox" class="mail-checkbox">
                                  <label for="checkbox10"></label>
                              </div>
                          </td>
                          <td>
                              <a href="#" class="star"><i class="fa fa-star"></i></a>
                          </td>
                          <td>
                              <div class="media">
                                  <a href="#" class="pull-left">
                                      <img alt="..." src="http://bootdey.com/img/Content/avatar/avatar6.png" class="media-object">
                                  </a>
                                  <div class="media-body">
                                      <h4 class="text-primary">Sarah Tingting</h4>
                                      <p class="email-summary"><strong>Java Developer + 2 new jobs</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur... </p>
                                      <span class="media-meta">Jun 05</span>
                                      <span class="media-attach"><i class="fa fa-warning"></i></span>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div><!-- /.table-responsive -->
            </div>
          </div><!-- /.panel-body -->
      </div><!-- /.panel -->
  </div>
</div>
          </div>
          <!-- /page content -->
        </div>
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                성공회대학교 동문회 관리 시스템
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>

<% include ../common/script.ejs %>
</body>
</html>
