<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>성공회대학교</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://select2.github.io/dist/css/select2.min.css" rel="stylesheet">
    <link href="/res/assets/css/send.css" rel="stylesheet">
    <script src="https://select2.github.io/dist/js/select2.full.js"></script>
    <% include ../common/css.ejs %>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <% include ../common/nav.ejs %>

        <!-- page content -->
        <div class="right_col" role="main">

            <form method="post">
                <div class="container">
                    <div class="row inbox">
                        <% if (message && message != "") { %>
                        <div class="alert alert-danger text-center"><%= message %></div>
                        <% } %>
                        <h6 id="error" class="alert alert-danger text-center" style="display: none;">경고 메시지 </h6>
                        <div class="col-md-3 col-sm-3 col-xs-12">

                            <div class="panel panel-default">
                                <div class="panel-body contacts">
                                    <div class="input-group">
                                        <input id="searchText" type="text" class="form-control">
                                        <span class="input-group-btn">
                                              <button id="search" type="button" class="btn btn-primary">찾기</button>
                                          </span>
                                    </div>
                                    <span class="btn btn-success btn-block">수신자</span>
                                    <ul id="userList">

                                    </ul>
                                </div>

                            </div>

                        </div>
                        <!--/.col-->

                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <p>
                            </p>
                            <div class="panel panel-default">
                                <div class="panel-body message">
                                    <p class="text-center">새로운 메시지</p>
                                    <div class="col-sm-11 col-md-11 col-xs-11 col-sm-offset-1">
                                        <br>
                                        <div class="form-group">
                                            <input type="text" id="title" name="title" placeholder="제목을 입력해주세요."
                                                   class="form-control col-md-7 col-xs-12">
                                            <br/>
                                            <br/>
                                            <textarea class="form-control" id="message" name="content" rows="12"
                                                      placeholder="내용을 입력해주세요"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button id="sendButton" type="submit" class="btn btn-success ">보내기</button>
                                        </div>
                                        <label>
                                            <input type="radio" checked="" value="email" id="type1" name="type">이메일
                                        </label>
                                        <label>
                                            <input type="radio" value="message" id="type2" name="type">메시지
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->

                    </div>
                </div>
            </form>
        </div>
        <!-- /page content -->
    </div>
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            성공회대학교 동문회 관리 시스템
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</div>

<% include ../common/script.ejs %>
<script>
    $(function () {
        //input tag 엔터 눌렀을때 자동 submit 막기
        $(function () {
            $("input:text").keydown(function (evt) {
                if (evt.keyCode == 13)
                    return false;
            });
        });

        //search 버튼 클릭시
        $("#search").click(function () {
            $.ajax({
                url: '/admin/search',
                data: {"content": $("#searchText").val()},
                //서버가 리턴하는 데이터 타입( xml, json, script, html)
                dataType: 'json',
                //서버로 전송할 데이터 타입(POST,GET)
                type: 'POST',
                // ajax 통신에 성공했을 때 호출될 이벤트 핸들러
                success: function (result) {
                    $("#searchText").val("");
                    if (result['result'] == true) {
                        $("#error").css("display", "none");

                        var rows = result['rows'];
                        //수신 리스트 추가
                        for (var i = 0; i < rows.length; i++) {
                            $('#userList').append('<li class="user" id="user' + rows[i].id + '"><span class="label label-default"></span>' + rows[i].name + " " + '<input type="hidden" name="email" value="' + rows[i].email + '"/></li>');
                        }
                    } else {
                        //찾기 실패시 메시지 출력
                        var message = result["message"];
                        $('#error').text(message);
                        $("#error").css("display", "");
                    }
                }
            });
        });


    });
</script>
</body>

</html>
