<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>성공회대학교</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://select2.github.io/dist/css/select2.min.css" rel="stylesheet">
    <link href="/res/assets/css/send.css" rel="stylesheet">
    <script src="https://select2.github.io/dist/js/select2.full.js"></script>
    <% include ../common/css.ejs %>

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include ../common/nav.ejs %>



                <!-- page content -->
                <div class="right_col" role="main">


                    <div class="container">
                        <div class="row inbox">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-body contacts">
                                        <a href="#" class="btn btn-success btn-block"> + Contact</a>
                                        <ul>
                                            <li><span class="label label-danger"></span> Adam Alister</li>
                                            <li><span class="label label-default"></span> Alphonse Ivo</li>
                                            <li><span class="label label-success"></span> Anton Phunihel</li>
                                            <li><span class="label label-success"></span> Ajith Hristijan</li>
                                            <li><span class="label label-warning"></span> Bao Gaspar</li>
                                            <li><span class="label label-default"></span> Bernhard Shelah</li>
                                            <li><span class="label label-success"></span> Bünyamin Kasper</li>
                                            <li><span class="label label-danger"></span> Carlito Roffe</li>
                                            <li><span class="label label-danger"></span> Chidubem Gottlob</li>
                                            <li><span class="label label-warning"></span> Dederick Mihail</li>
                                            <li><span class="label label-success"></span> Felice Arseniy</li>
                                            <li><span class="label label-default"></span> Grahame Miodrag</li>
                                            <li><span class="label label-default"></span> Hristofor Sergio</li>
                                            <li><span class="label label-danger"></span> Scottie Maximilian</li>
                                            <li><span class="label label-danger"></span> Sullivan Robert</li>
                                            <li><span class="label label-danger"></span> Thancmar Theophanes</li>
                                            <li><span class="label label-warning"></span> Tullio Luka</li>
                                            <li><span class="label label-success"></span> Walerian Khwaja</li>
                                        </ul>

                                    </div>

                                </div>

                            </div>
                            <!--/.col-->

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div id="sendType" class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="sendType" value="mail"> &nbsp; 메일 &nbsp;</label>
                                    <label class="btn btn-warning" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="sendType" value="message"> &nbsp; 문자 &nbsp;</label>
                                </div>
                                <p>
                                </p>
                                <div class="panel panel-default">
                                    <div class="panel-body message">
                                        <p class="text-center">새로운 메시지</p>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="to" class="col-sm-1  control-label">수신:</label>
                                                <div class="col-sm-11 col-md-11 col-xs-111">
                                                    <input type="email" class="form-control select2-offscreen" id="to" placeholder="Type email" tabindex="-1">
                                                </div>
                                            </div>
                                        </form>

                                        <div class="col-sm-11 col-md-11 col-xs-11 col-sm-offset-1">
                                            <br>
                                            <div class="form-group">
                                                <textarea class="form-control" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">보내기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->
                        </div>
                    </div>

                </div>
                <!-- /page content -->
        </div>
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                성공회대학교 동문회 관리 시스템
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>

    <% include ../common/script.ejs %>
</body>

</html>
