<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>성공회대학교</title>
        <% include ../common/css.ejs %>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <% include ../common/nav.ejs %>

            <!-- page content -->
            <div class="right_col" role="main">
              <div class="">
                <div class="page-title">
                  <div class="title_left">
                    <h3>회원관리</h3>
                  </div>


                </div>
                <div class="clearfix"></div>

                <div class="row">

                  <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>회원추가, 수정, 삭제</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <br />



                      <div class="col-md-5">
                        <form class="form-horizontal form-label-left" method="post">


                          <!-- <div class="form-group" style="display:inline-block"> -->


                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">아이디(ID) </label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" >
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">이름 </label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="text" class="form-control">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">기수 </label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="text" class="form-control">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">생일 </label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="text" class="form-control">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">비밀번호</label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="password" class="form-control" value="">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">비밀번호 확인</label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="password" class="form-control" value="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">소속지위</label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" value="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">휴대전화</label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="text" class="form-control">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">직장전화</label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" value="">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">e-mail</label>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                              <input type="text" class="form-control">
                            </div>
                          </div>



                          <!-- <div class="ln_solid"></div> -->
                        </br>
                          <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                              <button type="submit" class="btn btn-success">추가</button>
                              <button type="submit" class="btn btn-fail">취소</button>
                              <button type="submit" class="btn btn-primary">엑셀추가</button>
                            </div>
                          </div>

                        </form>
                      </div>

                      <div class="col-md-7 col-sm-6 col-xs-6 ">
                          <div class="x_panel" id="list">

                                                    <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
                                                        <div class="form-group"  style="background: #fff; margin-top: 10px;">
                                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                                <select class="form-control">
                                                                  <option>검색 조건</option>
                                                                  <option>이름 검색</option>
                                                                  <option>전화번호 검색</option>
                                                                  <option>기수 검색</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="검색">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" type="button">찾기</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                                                      <thead>
                                                        <tr>
                                                          <th><input type="checkbox" id="check-all" class="flat"></th>
                                                          <th>이름</th>
                                                          <th>소속</th>
                                                          <th>전화번호</th>
                                                          <th>이메일주소</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>원일준</td>
                                                          <td>7기</td>
                                                          <td>01093481037</td>
                                                          <td>sumusb@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>이승기</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>강철진</td>
                                                          <td>6기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>김만기</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>강준구</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>최진실</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>이준우</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>신성철</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>노욱진</td>
                                                          <td>8기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>홍태규</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>홍태규</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>홍태규</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>홍태규</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>홍태규</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                        <tr>
                                                          <td><input type="checkbox" class="flat" name="table_records"></td>
                                                          <td>홍태규</td>
                                                          <td>7기</td>
                                                          <td>01000000000</td>
                                                          <td>asdf@naver.com</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>

                                </div>
                              </div>

                          </div>
                          <button id="add" type="button" class="btn btn-default" style="float:right;">더보기...</button>
                      </div>
                  </div>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- /page content -->
        </div>
        <!-- footer content -->
        <footer>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>

    <% include ../common/script.ejs %>
</body>
</html>
