<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentellela Alela! | </title>

    <% include ../common/css.ejs %>

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include ../common/nav.ejs %>

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>프로필</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_panel">

                                <div class="x_content" >
                                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left" >
                                        <div class="profile_img"  >
                                            <img class="img-responsive avatar-view" src="/res/production/images/picture.jpg" alt="Avatar" title="Change the avatar" style="height:48vh;weight:36vw;">
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12" >
                                        <h3>이말순</h3><br/>

                                        <ul class="list-unstyled user_data">
                                            <li class="m-top-xs">
                                                <i class="fa fa-group">기수 : 7기</i>
                                            </li>
                                            <br/>
                                            <li><i class="fa fa-map-marker user-profile-icon"></i>주소 : 서울특별시 구로구 연동로 320 성공회대학교
                                            </li>
                                            <br/>
                                            <li class="m-top-xs">
                                                <i class="fa fa-mobile">휴대전화 : 010-0000-0000</i>
                                            </li>
                                            <br/>
                                            <li>
                                                <i class="fa fa-briefcase user-profile-icon"></i>직업 : 프로그래머
                                            </li>
                                            <br/>
                                            <li class="m-top-xs">
                                                <i class="fa fa-mobile">직장전화 : 02-0000-0000</i>
                                            </li>
                                            <br/>
                                            <li class="m-top-xs">
                                                <i class="fa fa-user">소속지위 : 사장</i>
                                            </li>
                                            <br/>
                                            <li class="m-top-xs">
                                                <i class="fa fa-paper-plane-o">이메일 : example@naver.com</i>
                                            </li>
                                            <br/>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <button id="add" type="button" class="btn btn-default" style="float:right;">목록으로</button>
                    </div>

                </div>

            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    성공회대학교 동문회 관리 시스템
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    <% include ../common/script.ejs %>
</body>

</html>
