<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SKHU 동문회</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/res/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/res/assets/css/animate.css">
    <link rel="stylesheet" href="/res/assets/css/form-elements.css">
    <link rel="stylesheet" href="/res/assets/css/style.css">
    <link rel="stylesheet" href="/res/assets/css/media-queries.css">
    <link rel="stylesheet" href="/res/assets/css/home.css">


    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/res/assets/ico/favicon.png">
    <!-- 모바일 터치 아이콘
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
   -->
    <style>
        @font-face{
            font-family: 'InterparkGothicMedium';
            src:url('/res/font/InterparkGothicMedium.ttf') format('truetype');
        }
        @font-face{
            font-family: 'InterparkGothicBold';
            src:url('/res/font/InterparkGothicBold.ttf') format('truetype');
        }

        body {
            font-family: InterParkGothicMedium;
        }


    </style>

    <script src="/res/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/res/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/res/assets/js/jquery.backstretch.min.js"></script>
    <script src="/res/assets/js/wow.min.js"></script>
    <script src="/res/assets/js/retina-1.1.0.min.js"></script>
    <script src="/res/assets/js/waypoints.min.js"></script>
    <script src="/res/assets/js/scripts.js"></script>
    <script src="/res/assets/js/home.js"></script>
</head>

<body>

<!-- How it works -->
<div class="row head">

    <!--비밀번호 변경 에러시 메시지 출력-->
    <% if (message && message != "") { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="col-sm-12 how-it-works section-description wow fadeIn">
        <h2><strong>비밀번호 변경</strong></h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
    </div>
</div>
<section class="container login-form">
    <form method="post" role="login">
        <section>
            <img src="/res/assets/img/homeLogo.jpg" alt="" class="img-responsive" />

            <div class="form-group">
                <input type="password" name="password" placeholder="변경할 비밀번호를 입력해주세요" required class="form-control input-lg" />
            </div>
            <div class="form-group">
                <input type="password" name="password_confirm" placeholder="변경할 비밀번호를 다시 입력해주세요" required class="form-control input-lg" />
            </div>

            <a href="#">비밀번호 변경 정보를 입력해주세요</a>

            <button type="submit" class="btn btn-lg btn-block btn-success">비밀번호 변경하기 </button>
        </section>
    </form>
    <section class="signup">
        <a href="#"></a>
    </section>
</section>


</body>
