<!DOCTYPE html>
<html lang="ko">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SKHU 동문회</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="res/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="res/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="res/assets/css/animate.css">
		    <link rel="stylesheet" href="res/assets/css/form-elements.css">
        <link rel="stylesheet" href="res/assets/css/style.css">
        <link rel="stylesheet" href="res/assets/css/media-queries.css">


        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="res/assets/ico/favicon.png">
        <script src="res/assets/js/jquery-1.11.1.min.js"></script>
        <script src="res/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="res/assets/js/jquery.backstretch.min.js"></script>
        <script src="res/assets/js/wow.min.js"></script>
        <script src="res/assets/js/retina-1.1.0.min.js"></script>
        <script src="res/assets/js/waypoints.min.js"></script>
        <script src="res/assets/js/scripts.js"></script>
        <script src="res/assets/js/main.js"></script>
        <script src="res/assets/js/common/common.js"></script>
        <!-- 모바일 터치 아이콘
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
       -->
        <style>
        @font-face{
          font-family: 'InterparkGothicMedium';
          src:url('res/font/InterparkGothicMedium.ttf') format('truetype');
        }
        @font-face{
          font-family: 'InterparkGothicBold';
          src:url('res/font/InterparkGothicBold.ttf') format('truetype');
        }
        body div.head{
          font-family: InterParkGothicBold
        }
        body div.row:hover{
          cursor: pointer;
        }
        body div.body,div.foot{
          font-family: InterParkGothicMedium
        }

        </style>
    </head>

    <body>

  <!-- How it works -->
  <div class="how-it-works-container section-container section-container-image-bg">
    <div class="container">
        <div class="row head">
            <div class="col-sm-12 how-it-works section-description wow fadeIn">
                <h2><strong>SKHU</strong> Memories</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row body">
            <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp" data-url="/home/login/1">
              <div class="how-it-works-box-icon">  <div class="about-us-photo">
                  <img src="res/assets/img/about/함께맞는비.jpg" alt="" data-at2x="res/assets/img/about/함께맞는비.jpg" class="img-circle" style="250px;height:250px;">
                </div></div>
                <h3>함께 맞는 비</h3>
              <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
              -->
              </div>
              <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown" data-url="/home/login/2">
              <div class="how-it-works-box-icon"><div class="about-us-photo">
                <img src="res/assets/img/about/인문학습원.jpg" alt="" data-at2x="res/assets/img/about/인문학습원.jpg" class="img-circle" style="250px;height:250px;">
              </div></div>
                <h3>인문학습원</h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                -->
              </div>
          </div>
          <div class="row body">
              <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp" data-url="/home/login/3">
              <div class="how-it-works-box-icon"><div class="about-us-photo">
                <img src="res/assets/img/about/더불어숲.jpg" alt="" data-at2x="res/assets/img/about/더불어숲.jpg" class="img-circle" style="250px;height:250px;">
              </div></div>
                <h3>더불어 숲</h3>
              <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
              -->
              </div>
              <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown" data-url="/home/login/4">
                <div class="how-it-works-box-icon">  <div class="about-us-photo">
                    <img src="res/assets/img/about/최고경영.jpg" alt="" data-at2x="res/assets/img/about/최고경영.jpg" class="img-circle" style="250px;height:250px;">
                  </div></div>
                <h3>최고경영자 과정</h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                -->
              </div>
        </div>
        <div class="row foot">
          <div class="col-sm-12 section-bottom-button wow fadeInUp">
                  <button class="btn btn-link-1 scroll-link" href="">id/password 분실</button>
          </div>
        </div>
    </div>
  </div>








</body>
