<!--navbar-->
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title">
                <i class="fa fa-university"></i>
                <span data-url="/main">함께맞는비</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="/res/production/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>김만기</span>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>7기</h3>
                <ul class="nav side-menu">
                    <li>
                        <a>
                            <i class="fa fa-user"></i>
                            회원정보
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li data-url="/users/edit">
                                <a>개인정보관리</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-users"></i>
                            동문회
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a>기수별 동문명단<span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu" data-url="/users/contacts">
                                        <a>1기</a>
                                    </li>
                                    <li  data-url="/users/contacts">
                                        <a>2기</a>
                                    </li >
                                    <li  data-url="/users/contacts">
                                        <a>3기</a>
                                    </li>
                                    <li  data-url="/users/contacts">
                                        <a>4기</a>
                                    </li>
                                    <li  data-url="/users/contacts">
                                        <a>5기</a>
                                    </li>
                                </ul>
                            <li>
                                <a>동문회 임원명단<span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu" data-url="/users/contacts">
                                        <a>총동문회 임원명단</a>
                                    </li>
                                    <li>
                                        <a>기수별 임원명단<span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                            <li class="sub_menu" data-url="/users/contacts">
                                                <a>1기</a>
                                            </li>
                                            <li>
                                                <a>2기</a>
                                            </li>
                                            <li>
                                                <a>3기</a>
                                            </li>
                                            <li>
                                                <a>4기</a>
                                            </li>
                                            <li>
                                                <a>5기</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>
                        <i class="fa fa-desktop"></i>
                        안내
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li data-url="/guide/introduce">
                            <a>인문학습원소개</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>
                        <i class="fa fa-edit"></i>
                        커뮤니티
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="tables.html">공지사항</a>
                        </li>
                        <li>
                            <a href="tables_dynamic.html">자유게시판</a>
                        </li>
                    </ul>
                </li>
                <!--관리자 메뉴바-->
                  <li>
                      <a>
                          <i class="fa fa-user-secret"></i>
                           관리자 페이지
                          <span class="fa fa-chevron-down"></span>
                       </a>
                      <ul class="nav child_menu">
                          <!-- 하단 리스트 바-->
                          <li data-url="/admin/request">
                              <a>요청 관리</a>
                          </li>
                          <li data-url="/admin/send">
                              <a>문자/메일 작성</a>
                          </li>
                          <li data-url="/admin/guide">
                              <a>안내페이지 수정</a>
                          </li>
                      </ul>
                   </li>
            </ul>
        </div>

    </div>
    <!-- /sidebar menu -->
</div>
</div>

<!-- top navigation -->
<div class="top_nav">
<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <a id="menu_toggle">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/res/production/images/img.jpg" alt="">김만기
                    <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out pull-right"></i>
                            로그아웃</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</div>
<!-- /top navigation -->
