<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>403 Page </title>
    <% include css.ejs %>
</head>

<body class="nav-md" style="background-color: aqua">
<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h1 class="error-number">403</h1>
                    <h2>접근 거절</h2>
                    <p>
                    </p>
                    <div class="mid_center">
                        <a href="/main/main.ejs">메인 페이지로 이동</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>

<% include script.ejs %>
</body>
</html>