<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>성공회대학교</title>

        <% include ../common/css.ejs %>
        <!-- jQuery -->
        <script src="/res/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/res/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/res/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/res/assets/js/jquery.backstretch.min.js"></script>
        <script src="/res/assets/js/wow.min.js"></script>
        <script src="/res/assets/js/retina-1.1.0.min.js"></script>
        <script src="/res/assets/js/waypoints.min.js"></script>
        <script src="/res/assets/js/scripts.js"></script>
    </head>
    <style>
      label{
        font-size:20px;
      }
      span{
        font-size:17px;
      }
      input{
        width:350px;
      }
      #top{
        padding-top:0px;
      }
    </style>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <% include ../common/nav.ejs %>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
              <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 col-sm-offset-1 col-lg-10">
              <div class="x_panel">
                <div class="x_title">
                  <h2>공지사항</h2>

                  <div class="clearfix"></div>
                </div>
                <form method="post" class="form-horizontal form-label-left">
                  <div class="x_content">
                    <div class="form-group">
                       <label class="control-label col-sm-1" id="top"/><span>제목:</span>
                       </label>
                       <div class="col-sm-5 col-xs-6">
                         <input type="text" name="title"  class="form-control" value="<%=result.title%>"/>
                       </div>
                    </div>
                    <div class="form-group">

                       <label class="control-label col-sm-1" id="top"/><span>작성자:</span>
                       </label>
                       <div class="col-sm-5 col-xs-6">
                         <label><%=result.user_name%></label>
                       </div>
                    </div>
                    <div class="form-group">

                       <label class="control-label col-sm-1" id="top"/><span>파일:</span>
                       </label>
                       <div class="col-sm-5 col-xs-6">
                         <label>sdfasdf.jsp</label>
                       </div>
                    </div>
                    <div class="form-group">

                       <label class="control-label col-sm-1"id="top"/><span>작성일:</span>
                       </label>
                       <div class="col-sm-5 col-xs-6">
                         <span><%=result.create_time%></span>
                       </div>
                    </div>

                    <div>
                      <textarea name="content" class="editor-wrapper" style="height:100%; width:100%;"><%=result.content%></textarea>
                      <div class="ln_solid"></div>
                    </div>



                    <div class="form-group" style="float:right;">
                      <button class="btn btn-primary" type="submit">저장</button>
                      <button class="btn btn-defualt"><a href="/board/list">목록으로</a></button>
                      <button class="btn btn-defualt">삭제</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                성공회대학교 동문회 관리 시스템
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
  </div>
</div>



  <% include ../common/script.ejs %>

</body>
</html>
